@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">KEMONO</h1>
</div>
<div style="display: flex; justify-content: center; align-items: center; min-height: 460px;">

<h3 style="height: 385px; width: 355px; padding: 20px 35px; padding: 20px 35px; border-radius: 20px; margin: 15px; position: relative; overflow: hidden; text-align: center;">Misión <br> Difundir artistas y música de todos los géneros alrededor del mundo, Kemono no solo busca estar a la vanguardia del resto de plataformas del rubro, sino también combatir la piratería.</h3>
<br>
<h3 style="height: 385px; width: 355px; padding: 20px 35px; padding: 20px 35px; border-radius: 20px; margin: 15px; position: relative; overflow: hidden; text-align: center;">Visión <br> Kemono busca fomentar industrial musical, colaborando en la compra legal de los discos de muchos artistas alrededor del mundo de manera innovadora y tecnológica.</h3>
<br>
</div>
<br>
<h1>¿Que es Kemono?</h1>
<h3>Nuestra empresa es un homenaje a un adorable pinguino de Humboldt llamado Grape, el cual guardo cariño a la imagen de un personaje de la franquicia Kemono Friends, Hululu.</h3>
<br>

<h1>Futuras Mejoras</h1>
<ul type="circle">
    <li><h3>Carrito de Compras</h3></li>
    <li><h3>Muestra de Músicas en los detalles</h3></li>
    <li><h3>Mejor interfaz</h3></li>
</ul>
<br>
<center>
    <h1>SIGUENOS</h1>
<table>
<tr>
    <td><iframe src="https://www.instagram.com/p/CdQq96uuKja/embed" height="350px" frameborder="0"></iframe></td>
    <td></td>
    <td><iframe src="https://www.instagram.com/p/CdQq7ZbulkV/embed" height="350px" frameborder="0"></iframe></td>
    <td></td>
    <td><iframe src="https://www.instagram.com/p/CdQq3MXuqia/embed" height="350px" frameborder="0"></iframe></td>
</tr>
</table></center>

<br>
<br>
<img src="/images/kemonobanner.png" alt="" style="width:100%; height:500px; align:center">
